{% extends 'base.html' %}
{% load static %}
{% block content %}

	<h2><h2>Contact today to get things in motion</h2></h2>
	  <h3>Contact methods</h3>
	<p>
	Call or <a href="mailto:jmbuildingservices@yahoo.com">email</a> today for a no obligation conversation and to receive a free, timely, and competitive quote.
	</p>
	
        <p>
        <img src = "{% static "imagest/protective-equipment-work-in-an-asbestos-garage-800.jpg" %}">
        </p>
        <h4><b>Phone</b></h4>
        <p> 07912 891 084</p>
        <h4><b>Email</b></h4
        <p>jmbuildingservices@yahoo.com</p>
        <h4><b>Address</b></h4>
        <p>Chaplin House</br>
        Sidcup High Street</br>
        Sidcup</br>
        Kent (Greater London)
        DA14 6DZ
        </p>

{% endblock %}

