{% extends 'base.html' %}
{% load static %}
{% block content %}

	<h2>Experts in construction and demolition</h2>
	  <h3>Who we are</h3>
	<p>
	A family run company, established over ten years ago, specialising in garage demolition, groundwork and fencing. We have passion for making your garden a useable space.
	<p>
	We have twenty years of cumalative experience in renovations, loft and garage extensions, new builds, groundwork, demolition and fencing.
        <p>
        <img src = "{% static "imagest/IMG-20210206-WA0026-800.jpg" %}">
        </p>
        <p>
        We can transform your garden by taking out out unneeded buildings and make good with topsoil replacement and 		new fences and even a new structure all at very reasonable rates.
        </p>
        <p>

        </p>
        <p>We have public liability insurance of up to a value of £1,000,000.</p>
        <p>
        We have a current upper tier waste disposal licence.
        </p>
        </br>

        
       
        
        <img src = "{% static "wastecarriers.png"%}">
        <a href="https://www.mybuilder.com/profile/view/jm_building_services" target="_blank"><img src = "{% static "100percent-150.jpg" %}"></a>

{% endblock %}

