/*
   styles.css
*/

#div {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
  clear: both;
}

.nav navbar-nav {
	color: blue;
}

body {
	font-family: Arial, Helvetica, sans-serif ;
}
img {
	max-width: 100% ;
	width: auto ;
	height: auto ;
}
input, select, button, textarea {
	max-width: 100% ;
}
meter, progress, output {
	max-width: 100% ;
}
div#tswcentrecombo {
	float: left ;
	width: 87.5% ;
	color: inherit ;
	background-color: hsl(60, 0.8%, 52.2%) ;
}
div#tswothersidecol {
	float: right ;
	width: 25% ;
	color: #000 ;
	background-color: hsl(60, 0.8%, 52.2%) ;
}
div#tswsidecol {
	float: left ;
	width: 10% ;
	color: #000 ;
	background-color: hsl(60, 0.8%, 52.2%) ;
}
div#tswcontent {
	float: right ;
	width: 85% ;
	color: #000 ;
	background-color: grey ;
}
@media only screen and (max-width: 629px) {
	div#tswsidecol {
		float: none ;
		width: 100% ;
	}
	div#tswcontent {
		float: none ;
		width: 100% ;
	}
	div#tswothersidecol {
		float: none ;
		width: 100% ;
	}
	div#tswcentrecombo {
		float: none ;
		width: 100% ;
	}
}
div#tswcontproper {
	padding-left: 5px ;
	padding-right: 5px ;
}
div#tswcontainer {
	color: hsl(60, 0.8%, 52.2%) ;
	background-color: hsl(60, 0.8%, 52.2%);
}
div#tswsideproper, div#tswothersideproper {
	padding-left: 5px ;
	padding-right: 5px ;
}
div#tswheader {
	color: #000 ;
	background-color: hsl(60, 0.8%, 52.2%) ;
}
div#tswfooter {
	color: white ;
	background-color: hsl(60, 0.8%, 52.2%) ;
	padding: 0 px;
	margin: 0 px;
	
}

a {
  color: black;
  text-decoration: none;
}


div.center {
	margin-left: 25px;

}


img.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 0px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

div.gallery {
  margin: 0px;
  border: 1px solid #777;
  float: left;
  width: 180px;
  color: darkgrey;
}

div.gallery:hover {
  border: 1px solid #ccc;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
